@import "tailwindcss";
@theme {
	--font-sans: 'Roboto', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	


  --color-primary: rgb(53 105 62);
  --color-surface-tint: rgb(53 105 62);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(183 241 186);
  --color-on-primary-container: rgb(28 81 41);
  --color-secondary: rgb(81 99 81);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(212 232 209);
  --color-on-secondary-container: rgb(58 75 58);
  --color-tertiary: rgb(57 101 109);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(189 234 243);
  --color-on-tertiary-container: rgb(31 77 84);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(247 251 242);
  --color-on-background: rgb(24 29 24);
  --color-surface: rgb(247 251 242);
  --color-on-surface: rgb(24 29 24);
  --color-surface-variant: rgb(221 229 217);
  --color-on-surface-variant: rgb(65 73 65);
  --color-outline: rgb(114 121 112);
  --color-outline-variant: rgb(193 201 190);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(45 50 44);
  --color-inverse-on-surface: rgb(238 242 234);
  --color-inverse-primary: rgb(155 212 160);
  --color-primary-fixed: rgb(183 241 186);
  --color-on-primary-fixed: rgb(0 33 9);
  --color-primary-fixed-dim: rgb(155 212 160);
  --color-on-primary-fixed-variant: rgb(28 81 41);
  --color-secondary-fixed: rgb(212 232 209);
  --color-on-secondary-fixed: rgb(15 31 17);
  --color-secondary-fixed-dim: rgb(184 204 182);
  --color-on-secondary-fixed-variant: rgb(58 75 58);
  --color-tertiary-fixed: rgb(189 234 243);
  --color-on-tertiary-fixed: rgb(0 31 36);
  --color-tertiary-fixed-dim: rgb(161 206 215);
  --color-on-tertiary-fixed-variant: rgb(31 77 84);
  --color-surface-dim: rgb(215 219 211);
  --color-surface-bright: rgb(247 251 242);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(241 245 236);
  --color-surface-container: rgb(235 239 231);
  --color-surface-container-high: rgb(229 233 225);
  --color-surface-container-highest: rgb(224 228 219);
  --color-custom-color1-color: rgb(46 98 140);
  --color-custom-color1-on-color: rgb(255 255 255);
  --color-custom-color1-color-container: rgb(205 229 255);
  --color-custom-color1-on-color-container: rgb(11 74 114);

  --color-dark-primary: rgb(155 212 160);
  --color-dark-surface-tint: rgb(155 212 160);
  --color-dark-on-primary: rgb(0 57 21);
  --color-dark-primary-container: rgb(28 81 41);
  --color-dark-on-primary-container: rgb(183 241 186);
  --color-dark-secondary: rgb(184 204 182);
  --color-dark-on-secondary: rgb(36 52 37);
  --color-dark-secondary-container: rgb(58 75 58);
  --color-dark-on-secondary-container: rgb(212 232 209);
  --color-dark-tertiary: rgb(161 206 215);
  --color-dark-on-tertiary: rgb(0 54 61);
  --color-dark-tertiary-container: rgb(31 77 84);
  --color-dark-on-tertiary-container: rgb(189 234 243);
  --color-dark-error: rgb(255 180 171);
  --color-dark-on-error: rgb(105 0 5);
  --color-dark-error-container: rgb(147 0 10);
  --color-dark-on-error-container: rgb(255 218 214);
  --color-dark-background: rgb(16 21 16);
  --color-dark-on-background: rgb(224 228 219);
  --color-dark-surface: rgb(16 21 16);
  --color-dark-on-surface: rgb(224 228 219);
  --color-dark-surface-variant: rgb(65 73 65);
  --color-dark-on-surface-variant: rgb(193 201 190);
  --color-dark-outline: rgb(139 147 137);
  --color-dark-outline-variant: rgb(65 73 65);
  --color-dark-shadow: rgb(0 0 0);
  --color-dark-scrim: rgb(0 0 0);
  --color-dark-inverse-surface: rgb(224 228 219);
  --color-dark-inverse-on-surface: rgb(45 50 44);
  --color-dark-inverse-primary: rgb(53 105 62);
  --color-dark-primary-fixed: rgb(183 241 186);
  --color-dark-on-primary-fixed: rgb(0 33 9);
  --color-dark-primary-fixed-dim: rgb(155 212 160);
  --color-dark-on-primary-fixed-variant: rgb(28 81 41);
  --color-dark-secondary-fixed: rgb(212 232 209);
  --color-dark-on-secondary-fixed: rgb(15 31 17);
  --color-dark-secondary-fixed-dim: rgb(184 204 182);
  --color-dark-on-secondary-fixed-variant: rgb(58 75 58);
  --color-dark-tertiary-fixed: rgb(189 234 243);
  --color-dark-on-tertiary-fixed: rgb(0 31 36);
  --color-dark-tertiary-fixed-dim: rgb(161 206 215);
  --color-dark-on-tertiary-fixed-variant: rgb(31 77 84);
  --color-dark-surface-dim: rgb(16 21 16);
  --color-dark-surface-bright: rgb(54 58 53);
  --color-dark-surface-container-lowest: rgb(11 15 11);
  --color-dark-surface-container-low: rgb(24 29 24);
  --color-dark-surface-container: rgb(28 33 28);
  --color-dark-surface-container-high: rgb(38 43 38);
  --color-dark-surface-container-highest: rgb(49 54 48);
  --color-dark-custom-color1-color: rgb(154 203 250);
  --color-dark-custom-color1-on-color: rgb(0 51 82);
  --color-dark-custom-color1-color-container: rgb(11 74 114);
  --color-dark-custom-color1-on-color-container: rgb(205 229 255);
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.8s;
  
}